<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Series_Runner_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="acaf9d">  <td>24/05/03 14:32:51</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Put_test_Script.Setup()[pri:0, instance:test_Script.Put_test_Script@5a2d131d]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="ab8268">  <td>24/05/03 14:32:51</td>   <td>-28</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_test_Script.Setup()[pri:0, instance:test_Script.Delete_test_Script@4ae9cfc1]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="9674be">  <td>24/05/03 14:32:51</td>   <td>-6</td> <td>&nbsp;</td><td title="&gt;&gt;Get_test_Script.Setup()[pri:0, instance:test_Script.Get_test_Script@ca30bc1]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="9868b2">  <td>24/05/03 14:32:51</td>   <td>-1</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.Setup()[pri:0, instance:test_Script.Post_Test_Script@14fc1f0]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="81f160">  <td>24/05/03 14:32:51</td>   <td>-4</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_test_Script.Setup()[pri:0, instance:test_Script.Patch_test_Script@60df60da]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="9674be">  <td>24/05/03 14:32:51</td>   <td>67</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_test_Script.execute()[pri:0, instance:test_Script.Get_test_Script@ca30bc1]">execute</td> 
  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="ab8268">  <td>24/05/03 14:33:11</td>   <td>19902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_test_Script.execute()[pri:0, instance:test_Script.Delete_test_Script@4ae9cfc1]">execute</td> 
  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="81f160">  <td>24/05/03 14:32:59</td>   <td>8775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_test_Script.execute()[pri:0, instance:test_Script.Patch_test_Script@60df60da]">execute</td> 
  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="9868b2">  <td>24/05/03 14:33:09</td>   <td>17972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.execute()[pri:0, instance:test_Script.Post_Test_Script@14fc1f0]">execute</td> 
  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="acaf9d">  <td>24/05/03 14:33:03</td>   <td>12442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_test_Script.execute()[pri:0, instance:test_Script.Put_test_Script@5a2d131d]">execute</td> 
  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="9674be">  <td>24/05/03 14:33:14</td>   <td>23138</td> <td>&nbsp;</td><td title="&lt;&lt;Get_test_Script.teardown()[pri:0, instance:test_Script.Get_test_Script@ca30bc1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="81f160">  <td>24/05/03 14:33:14</td>   <td>23140</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_test_Script.teardown()[pri:0, instance:test_Script.Patch_test_Script@60df60da]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="acaf9d">  <td>24/05/03 14:33:14</td>   <td>23143</td> <td>&nbsp;</td><td title="&lt;&lt;Put_test_Script.teardown()[pri:0, instance:test_Script.Put_test_Script@5a2d131d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="ab8268">  <td>24/05/03 14:33:14</td>   <td>23129</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_test_Script.teardown()[pri:0, instance:test_Script.Delete_test_Script@4ae9cfc1]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912747546</td>   <td></td> </tr>
<tr bgcolor="9868b2">  <td>24/05/03 14:33:14</td>   <td>23141</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:test_Script.Post_Test_Script@14fc1f0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@912747546</td>   <td></td> </tr>
</table>
