<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e7a6b2">  <td>24/05/07 21:23:06</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.Setup()[pri:0, instance:test_Script.Post_Test_Script@1869fbd2]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1322642290</td>   <td></td> </tr>
<tr bgcolor="75bcc1">  <td>24/05/07 21:23:06</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Get_test_Script.Setup()[pri:0, instance:test_Script.Get_test_Script@7ae42ce3]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@2121199924</td>   <td></td> </tr>
<tr bgcolor="83aa98">  <td>24/05/07 21:23:06</td>   <td>1</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_test_Script.Setup()[pri:0, instance:test_Script.Delete_test_Script@63fbfaeb]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1088104996</td>   <td></td> </tr>
<tr bgcolor="f37dec">  <td>24/05/07 21:23:06</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_test_Script.Setup()[pri:0, instance:test_Script.Patch_test_Script@34c01041]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@421637524</td>   <td></td> </tr>
<tr bgcolor="6d96f2">  <td>24/05/07 21:23:06</td>   <td>11</td> <td>&nbsp;</td><td title="&gt;&gt;Put_test_Script.Setup()[pri:0, instance:test_Script.Put_test_Script@545b995e]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@393996856</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/07 21:23:07</td>   <td>131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.execute()[pri:0, instance:test_Script.Post_Test_Script@1869fbd2]">execute</td> 
  <td>TestNG-tests-1@1322642290</td>   <td></td> </tr>
<tr bgcolor="75bcc1">  <td>24/05/07 21:23:07</td>   <td>131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_test_Script.execute()[pri:0, instance:test_Script.Get_test_Script@7ae42ce3]">execute</td> 
  <td>TestNG-tests-2@2121199924</td>   <td></td> </tr>
<tr bgcolor="83aa98">  <td>24/05/07 21:23:07</td>   <td>131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_test_Script.execute()[pri:0, instance:test_Script.Delete_test_Script@63fbfaeb]">execute</td> 
  <td>TestNG-tests-3@1088104996</td>   <td></td> </tr>
<tr bgcolor="f37dec">  <td>24/05/07 21:23:07</td>   <td>131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_test_Script.execute()[pri:0, instance:test_Script.Patch_test_Script@34c01041]">execute</td> 
  <td>TestNG-tests-4@421637524</td>   <td></td> </tr>
<tr bgcolor="6d96f2">  <td>24/05/07 21:23:07</td>   <td>131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_test_Script.execute()[pri:0, instance:test_Script.Put_test_Script@545b995e]">execute</td> 
  <td>TestNG-tests-5@393996856</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/07 21:23:12</td>   <td>5663</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:test_Script.Post_Test_Script@1869fbd2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1322642290</td>   <td></td> </tr>
<tr bgcolor="75bcc1">  <td>24/05/07 21:23:13</td>   <td>6277</td> <td>&nbsp;</td><td title="&lt;&lt;Get_test_Script.teardown()[pri:0, instance:test_Script.Get_test_Script@7ae42ce3]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@2121199924</td>   <td></td> </tr>
<tr bgcolor="83aa98">  <td>24/05/07 21:23:13</td>   <td>6764</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_test_Script.teardown()[pri:0, instance:test_Script.Delete_test_Script@63fbfaeb]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-3@1088104996</td>   <td></td> </tr>
<tr bgcolor="f37dec">  <td>24/05/07 21:23:12</td>   <td>5605</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_test_Script.teardown()[pri:0, instance:test_Script.Patch_test_Script@34c01041]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-4@421637524</td>   <td></td> </tr>
<tr bgcolor="6d96f2">  <td>24/05/07 21:23:12</td>   <td>5602</td> <td>&nbsp;</td><td title="&lt;&lt;Put_test_Script.teardown()[pri:0, instance:test_Script.Put_test_Script@545b995e]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-5@393996856</td>   <td></td> </tr>
</table>
