<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_Runner_Parallel</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c97cb">  <td>24/05/07 18:53:57</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_test_Script.teardown()[pri:0, instance:test_Script.Patch_test_Script@7a362b6b]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1756573246</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/07 18:53:57</td>   <td>-2</td> <td>&nbsp;</td><td title="&lt;&lt;Get_test_Script.teardown()[pri:0, instance:test_Script.Get_test_Script@291a7e3c]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1756573246</td>   <td></td> </tr>
<tr bgcolor="a1bbdc">  <td>24/05/07 18:53:57</td>   <td>2</td> <td>&nbsp;</td><td title="&lt;&lt;Post_Test_Script.teardown()[pri:0, instance:test_Script.Post_Test_Script@5a2d131d]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1756573246</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/07 18:53:57</td>   <td>4</td> <td>&nbsp;</td><td title="&lt;&lt;Put_test_Script.teardown()[pri:0, instance:test_Script.Put_test_Script@60df60da]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1756573246</td>   <td></td> </tr>
<tr bgcolor="a1bbdc">  <td>24/05/07 18:53:47</td>   <td>-9783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.execute()[pri:0, instance:test_Script.Post_Test_Script@5a2d131d]">execute</td> 
  <td>TestNG-test=Test_Runner_Parallel-4@1770437551</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/07 18:53:47</td>   <td>-9891</td> <td>&nbsp;</td><td title="&gt;&gt;Delete_test_Script.Setup()[pri:0, instance:test_Script.Delete_test_Script@14fc1f0]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1756573246</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/07 18:53:47</td>   <td>-9857</td> <td>&nbsp;</td><td title="&gt;&gt;Get_test_Script.Setup()[pri:0, instance:test_Script.Get_test_Script@291a7e3c]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1756573246</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/07 18:53:47</td>   <td>-9783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_test_Script.execute()[pri:0, instance:test_Script.Put_test_Script@60df60da]">execute</td> 
  <td>TestNG-test=Test_Runner_Parallel-3@1832669781</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/07 18:53:57</td>   <td>-7</td> <td>&nbsp;</td><td title="&lt;&lt;Delete_test_Script.teardown()[pri:0, instance:test_Script.Delete_test_Script@14fc1f0]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1756573246</td>   <td></td> </tr>
<tr bgcolor="a1bbdc">  <td>24/05/07 18:53:47</td>   <td>-9853</td> <td>&nbsp;</td><td title="&gt;&gt;Post_Test_Script.Setup()[pri:0, instance:test_Script.Post_Test_Script@5a2d131d]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1756573246</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/07 18:53:47</td>   <td>-9783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_test_Script.execute()[pri:0, instance:test_Script.Get_test_Script@291a7e3c]">execute</td> 
  <td>TestNG-test=Test_Runner_Parallel-1@1988644427</td>   <td></td> </tr>
<tr bgcolor="9c97cb">  <td>24/05/07 18:53:47</td>   <td>-9784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_test_Script.execute()[pri:0, instance:test_Script.Patch_test_Script@7a362b6b]">execute</td> 
  <td>TestNG-test=Test_Runner_Parallel-2@23880693</td>   <td></td> </tr>
<tr bgcolor="a59da3">  <td>24/05/07 18:53:47</td>   <td>-9783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_test_Script.execute()[pri:0, instance:test_Script.Delete_test_Script@14fc1f0]">execute</td> 
  <td>TestNG-test=Test_Runner_Parallel-5@1196982797</td>   <td></td> </tr>
<tr bgcolor="9caaeb">  <td>24/05/07 18:53:47</td>   <td>-9851</td> <td>&nbsp;</td><td title="&gt;&gt;Put_test_Script.Setup()[pri:0, instance:test_Script.Put_test_Script@60df60da]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1756573246</td>   <td></td> </tr>
<tr bgcolor="9c97cb">  <td>24/05/07 18:53:47</td>   <td>-9855</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_test_Script.Setup()[pri:0, instance:test_Script.Patch_test_Script@7a362b6b]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1756573246</td>   <td></td> </tr>
</table>
