<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e7a6b2">  <td>24/05/07 18:05:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Post_param_test_script.Setup()[pri:0, instance:test_Script.Post_param_test_script@1869fbd2]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@977674685</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/07 18:05:35</td>   <td>88</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_param_test_script.validate()[pri:0, instance:test_Script.Post_param_test_script@1869fbd2]">validate</td> 
  <td>main@977674685</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/07 18:05:47</td>   <td>12631</td> <td>&nbsp;</td><td title="&lt;&lt;Post_param_test_script.teardown()[pri:0, instance:test_Script.Post_param_test_script@1869fbd2]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@977674685</td>   <td></td> </tr>
</table>
