<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Series_Test_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7ab887">  <td>24/05/02 16:55:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_test_Script.execute()[pri:0, instance:test_Script.Get_test_Script@13fd2ccd]">execute</td> 
  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="f676cf">  <td>24/05/02 16:56:09</td>   <td>55508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Delete_test_Script.execute()[pri:0, instance:test_Script.Delete_test_Script@72e5a8e]">execute</td> 
  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="6db8bc">  <td>24/05/02 16:55:13</td>   <td>-45</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_param_test_script.execute()[pri:0, instance:test_Script.Post_param_test_script@47e2e487]">execute</td> 
  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="9db49b">  <td>24/05/02 16:56:07</td>   <td>53801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_Test_Script.execute()[pri:0, instance:test_Script.Post_Test_Script@7d4f9aae]">execute</td> 
  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="b2768b">  <td>24/05/02 16:56:04</td>   <td>50647</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_test_Script.execute()[pri:0, instance:test_Script.Patch_test_Script@b9b00e0]">execute</td> 
  <td>main@809300666</td>   <td></td> </tr>
<tr bgcolor="947bc5">  <td>24/05/02 16:56:06</td>   <td>52575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_test_Script.execute()[pri:0, instance:test_Script.Put_test_Script@506ae4d4]">execute</td> 
  <td>main@809300666</td>   <td></td> </tr>
</table>
