<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite_priority</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e7a6b2">  <td>24/05/13 07:31:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_piority_Test_Script.execute2()[pri:1, instance:test_Script.Post_piority_Test_Script@3daf7722]">execute2</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/13 07:31:01</td>   <td>-82</td> <td>&nbsp;</td><td title="&gt;&gt;Post_piority_Test_Script.Setup()[pri:0, instance:test_Script.Post_piority_Test_Script@3daf7722]">&gt;&gt;Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/13 07:31:07</td>   <td>5586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_piority_Test_Script.execute1()[pri:2, instance:test_Script.Post_piority_Test_Script@3daf7722]">execute1</td> 
  <td>main@1016860054</td>   <td></td> </tr>
<tr bgcolor="e7a6b2">  <td>24/05/13 07:31:08</td>   <td>6636</td> <td>&nbsp;</td><td title="&lt;&lt;Post_piority_Test_Script.teardown()[pri:0, instance:test_Script.Post_piority_Test_Script@3daf7722]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1016860054</td>   <td></td> </tr>
</table>
